// fonts //

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// variables //

@main-font: "Poppins", sans-serif;
@main-color: #5139ae;
@secondary-color: #f7941e;
@background-color: #bac3ff;
@gradient-color: #d2efff;
@white: #fff;
@black: #000;

// mixins //

.gradient{
    background: @background-color;
    background: linear-gradient(to right, @background-color, @gradient-color 88%);
    background-size: 150% 150%;
}

.content{
    height: 70vh;
}

.text{
    text-align: center;
}

.text-left{
    text-align: left;
}

// animations //

@keyframes background{

    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

// styles //

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: @main-font;
    width: 100%;
    min-height: 100vh;
    position: relative;
    .gradient();
    animation: background 10s ease alternate infinite;
}

p{
    .text();
}

.navbar-brand{
    font-size: 2rem;
}

.form-control {
    border: none;
}

button{
    font-size: 1.4rem;
    padding: 0 0.75rem;
    border: none;
    background-color: @secondary-color;
    color: @white;
    border-radius: 0.25rem;
}

main{
    min-height: calc(100vh - 170px);
}

.content-1{
    .content();
    background-color: @white;
    border-radius: 1rem 0 0 1rem;

    &-img{
        width: 75%;
    }

    &-p{
        text-align: left;
    }
}

.content-2{
    .content();
    background-color: @main-color;
    color: @white;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.3rem;
    position: relative;
}

.city-name{
    text-align: left;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
}

#city-temp{
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.weather{
    width: 100%!important;
    position: relative;
}

#city-weather{
    font-size: 1.75rem;
    width: fit-content!important;
    margin: 2.5rem 0 0 7rem;
}

.weather-img{
    position: absolute;
    left: -1.5rem;
    top: -2rem;
    width: 10rem;
    filter: drop-shadow(0.2rem 0.2rem 0.25rem #2a2a2ae2);
}

.data{
    width: 100%;
}

#city-humidity{
    .text-left();
    font-size: 1.15rem;
    margin-bottom: 0;
}

#city-wind{
    .text-left();
    font-size: 1.15rem;
}

#date{
    .text-left();
    font-size: 1.1rem;
    margin-bottom: 0;
}

#current-date{
    .text-left();
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.footer{

    &-img{
        width: 3rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    
        &:hover, &:focus{
            transform: scale(1.05);
        }
    }

    &-logo{
        width: 3rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    
        &:hover, &:focus{
            transform: scale(1.05);
        }
    }
}

footer{

    div{

        div{
            width: fit-content!important;
        }
    }

    p{
        width: fit-content!important;
        margin-bottom: 0;
    }
    
    a{
        display: contents;
    }
}

// loading spinner and error clases //

.spinner{
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.error{
    text-shadow: 0.075rem 0.075rem @secondary-color;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.img-error{
    position: absolute;
    left: 50%;
    width: 10rem;
    transform: translateX(-45%);
}

// media queries //

@media only screen and (min-width: 2000px){

    .body-container{
        margin: 0 20rem;
    }
}

@media only screen and (max-width: 1050px){

    #city-weather{
        margin: 0 0 0 6.5rem;
    }

    .data{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 880px){

    .content-1{
        height: 76vh;
    }

    .content-2{
        height: 76vh;
    }

    .data{
        display: flex;
        flex-direction: column;

        &-weather{
            width: 100%;
        }

        &-date{
            width: 100%;
        }
    }

    #city-wind{
        margin-top: 0!important;
    }

    #date{
        margin-top: 0!important;
    }

    #current-date {
        margin-top: 0!important;
    }

    .footer{
        margin: 1.5rem 0;
    }
}

@media only screen and (max-width: 767px){

    .content-1{
        height: 48vh;
        border-radius: 1rem 1rem 0 0;
    
        &-img{
            width: 10rem;
        }
    }

    .content-2{
        height: 64vh;
        border-radius: 0 0 1rem 1rem;
    }

    #city-weather{
        font-size: 1.5rem;
        margin: 1rem 0 0 6.5rem;
    }

    .weather-img{
        width: 10rem;
    }

    .data{
        margin-top: 1.5rem;
    }

    .footer{
        margin: 1.5rem 0;
        flex-direction: column;
        gap: 1rem;

        div{
            flex-direction: column;
            gap: 0.5rem!important;
        }
    }
}

@media only screen and (max-width: 452px){

    .main{
        flex-direction: column-reverse;
    }

    .content-1{
        height: 60vh;
        border-radius: 0 0 1rem 1rem;
    }

    .content-2{
        height: 80vh;
        border-radius: 1rem 1rem 0 0;
    }
}

@media only screen and (max-width: 353px){

    .content-1{
        height: 70vh;
    }
}